# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

C++/Debug/
Verilog/circ_gen/db/
Verilog/circ_gen/incremental_db/
Verilog/circ_gen/output_files/
Verilog/circ_gen/simulation/
qar_info.json
resultado.txt
*.bak
*.qws
